In [1]:
import pandas as pd
import numpy as np

In [2]:
final = pd.read_csv('NOAA Temp/14_01.csv')
final = final.drop(columns = '3')
dti = pd.date_range('01/01/2014', periods=1826, freq='D')
for j in range(14,19):
    for i in range(1,13):
        if j == 14 and i == 1: continue
        temp = pd.read_csv('NOAA Temp/'+str(j)+'_{:02d}'.format(i)+'.csv')
        temp = temp.drop(temp.columns[[0]], axis=1)
        final = pd.concat([final, temp], sort=False)
final['Date'] = dti

In [3]:
for j in ['Ozone', 'CO']:
    final2 = pd.read_csv(j+'/datafile2014.txt', sep=',', nrows=31)
    final2 = final2.drop(columns = 'dom')
    temp = final2.values
    temp = temp.astype(np.float)
    temp = temp.flatten('F')
    temp = temp[np.isfinite(temp)]
    for i in range(2015,2019):
        final2 = pd.read_csv(j+'/datafile'+str(i)+'.txt', sep=',', nrows=31)
        final2 = final2.drop(columns = 'dom')
        temp2 = final2.values
        temp2 = temp2.astype(np.float)
        temp2 = temp2.flatten('F')
        temp2 = temp2[np.isfinite(temp2)]
        print(len(temp2))
        temp = np.append(temp, temp2)
    final[j] = temp

365
366
365
365
365
366
365
365

In [4]:
final

,Date,MaximumTemp,MinimumTemp,AverageTemp,Departure,HDD,CDD,Precipitation,NewSnow,DepartureTemp,SnowDepth,Ozone,CO
0,2014-01-01,65,35,50,3.7,15,0,0,0,NaN,NaN,0.026,1.000
1,2014-01-02,66,37,51.5,5.1,13,0,0,0,NaN,NaN,0.021,1.246
2,2014-01-03,66,38,52,5.6,13,0,0,0,NaN,NaN,0.019,1.162
3,2014-01-04,65,37,51,4.6,14,0,0,0,NaN,NaN,0.023,1.050
4,2014-01-05,65,36,50.5,4.0,14,0,0,0,NaN,NaN,0.029,0.983
5,2014-01-06,61,37,49,2.5,16,0,0,0,NaN,NaN,0.017,1.012
6,2014-01-07,65,40,52.5,5.9,12,0,0,0,NaN,NaN,0.020,0.817
7,2014-01-08,57,38,47.5,0.9,17,0,0,0,NaN,NaN,0.019,0.592
8,2014-01-09,62,42,52,5.3,13,0,0,0,NaN,NaN,0.024,0.571
9,2014-01-10,62,39,50.5,3.7,14,0,0,0,NaN,NaN,0.017,0.954
10,2014-01-11,58,44,51,4.2,14,0,0,0,NaN,NaN,0.025,0.500
11,2014-01-12,60,39,49.5,2.6,15,0,0,0,NaN,NaN,0.024,0.454
12,2014-01-13,64,37,50.5,3.5,14,0,0,0,NaN,NaN,0.023,1.029
13,2014-01-14,66,35,50.5,3.4,14,0,0,0,NaN,NaN,0.022,1.333
14,2014-01-15,69,38,53.5,6.3,11,0,0,0,NaN,NaN,0.022,1.304
15,2014-01-16,71,36,53.5,6.2,11,0,0,0,NaN,NaN,0.024,1.437
16,2014-01-17,69,36,52.5,5.1,12,0,0,0,NaN,NaN,0.027,1.396
17,2014-01-18,70,35,52.5,4.9,12,0,0,0,NaN,NaN,0.028,1.296
18,2014-01-19,69,35,52,4.3,13,0,0,0,NaN,NaN,0.029,1.125
19,2014-01-20,71,36,53.5,5.7,11,0,0,0,NaN,NaN,0.025,1.187
20,2014-01-21,68,35,51.5,3.6,13,0,0,0,NaN,NaN,0.024,1.125
21,2014-01-22,68,35,51.5,3.4,13,0,0,0,NaN,NaN,0.029,0.867
22,2014-01-23,71,38,54.5,6.3,10,0,0,0,NaN,NaN,0.030,1.054
23,2014-01-24,79,44,61.5,13.1,3,0,0,0,NaN,NaN,0.029,1.113
24,2014-01-25,74,42,58,9.4,7,0,0,0,NaN,NaN,0.030,0.821
25,2014-01-26,65,41,53,4.3,12,0,0,0,NaN,NaN,0.028,0.813
26,2014-01-27,65,39,52,3.1,13,0,0,0,NaN,NaN,0.024,1.063
27,2014-01-28,70,50,60,10.9,5,0,0,0,NaN,NaN,0.023,0.779
28,2014-01-29,64,51,57.5,8.3,7,0,0.07,0,NaN,NaN,0.014,0.504
29,2014-01-30,65,49,57,7.6,8,0,0.11,0,NaN,NaN,0.023,0.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2018-12-02,55,37,46,NaN,19,0,0,0.0,-3.4,0.0,0.025,0.000
2,2018-12-03,54,36,45,NaN,20,0,0,0.0,-4.2,0.0,0.023,0.000
3,2018-12-04,53,46,49.5,NaN,15,0,0,M,0.5,0.0,0.010,0.000
4,2018-12-05,57,47,52,NaN,13,0,0.12,M,3.2,0.0,0.024,0.000
5,2018-12-06,60,44,52,NaN,13,0,0,0.0,3.5,0.0,0.015,0.000
6,2018-12-07,63,40,51.5,NaN,13,0,0,0.0,3.2,0.0,0.012,0.083
7,2018-12-08,61,40,50.5,NaN,14,0,0,M,2.3,0.0,0.018,0.167
8,2018-12-09,53,40,46.5,NaN,18,0,0,0.0,-1.5,0.0,0.017,0.000
9,2018-12-10,60,44,52,NaN,13,0,0,M,4.2,0.0,0.015,0.208
10,2018-12-11,59,40,49.5,NaN,15,0,0,0.0,1.9,0.0,0.018,0.056
11,2018-12-12,61,44,52.5,NaN,12,0,0,M,5,0.0,0.023,0.000
12,2018-12-13,60,40,50,NaN,15,0,0,M,2.6,0.0,0.021,0.125
13,2018-12-14,62,43,52.5,NaN,12,0,0,0.0,5.3,0.0,0.020,0.000
14,2018-12-15,62,45,53.5,NaN,11,0,0,0.0,6.4,0.0,0.025,0.000
15,2018-12-16,59,44,51.5,NaN,13,0,1.17,0.0,4.5,0.0,0.030,0.000
16,2018-12-17,62,50,56,NaN,9,0,0.36,M,9.1,0.0,0.031,0.091
17,2018-12-18,65,44,54.5,NaN,10,0,0,M,7.7,0.0,0.022,0.000
18,2018-12-19,65,47,56,NaN,9,0,0,M,9.3,0.0,0.018,0.000
19,2018-12-20,56,48,52,NaN,13,0,0.03,M,5.4,0.0,0.018,0.000
20,2018-12-21,57,48,52.5,NaN,12,0,0.06,M,5.9,0.0,0.017,0.000
21,2018-12-22,55,39,47,NaN,18,0,0,0.0,0.5,0.0,0.013,0.000
22,2018-12-23,58,46,52,NaN,13,0,0,M,5.6,0.0,0.009,0.000
23,2018-12-24,55,49,52,NaN,13,0,0.47,M,5.6,0.0,0.017,0.000
24,2018-12-25,61,44,52.5,NaN,12,0,0.12,M,6.1,0.0,0.025,0.000
25,2018-12-26,60,38,49,NaN,16,0,0,M,2.7,0.0,0.022,0.000
26,2018-12-27,58,39,48.5,NaN,16,0,0,0.0,2.2,0.0,0.027,0.000
27,2018-12-28,56,39,47.5,NaN,17,0,0,0.0,1.2,0.0,0.031,0.000
28,2018-12-29,58,35,46.5,NaN,18,0,0,0.0,0.2,0.0,0.026,0.083
29,2018-12-30,59,37,48,NaN,17,0,0,M,1.7,0.0,0.024,0.000
30,2018-12-31,55,41,48,NaN,17,0,0,M,1.7,0.0,0.034,0.000

In [5]:
final = final.reset_index(drop=True)

In [6]:
energy_consumption = pd.read_csv('ecdms_energy_consumption.csv', sep=',', header=0)
# energy_consumption = energy_consumption_read.T

In [7]:
energy_consumption

,Year,Electricity(GWh)/Non-Residential,Electricity(GWh)/Residential,Gas(Therms)/Non-Residential,Gas(Therms)/Residential
0,2014,6258.537182,4736.128873,100.810185,172.911259
1,2015,6188.144476,4738.564168,102.835605,176.512509
2,2016,6055.674434,4794.486673,105.200835,182.459477
3,2017,6283.613410,5242.164487,109.925151,198.851836
4,2018,NaN,NaN,NaN,NaN

In [8]:
final

,Date,MaximumTemp,MinimumTemp,AverageTemp,Departure,HDD,CDD,Precipitation,NewSnow,DepartureTemp,SnowDepth,Ozone,CO
0,2014-01-01,65,35,50,3.7,15,0,0,0,NaN,NaN,0.026,1.000
1,2014-01-02,66,37,51.5,5.1,13,0,0,0,NaN,NaN,0.021,1.246
2,2014-01-03,66,38,52,5.6,13,0,0,0,NaN,NaN,0.019,1.162
3,2014-01-04,65,37,51,4.6,14,0,0,0,NaN,NaN,0.023,1.050
4,2014-01-05,65,36,50.5,4.0,14,0,0,0,NaN,NaN,0.029,0.983
5,2014-01-06,61,37,49,2.5,16,0,0,0,NaN,NaN,0.017,1.012
6,2014-01-07,65,40,52.5,5.9,12,0,0,0,NaN,NaN,0.020,0.817
7,2014-01-08,57,38,47.5,0.9,17,0,0,0,NaN,NaN,0.019,0.592
8,2014-01-09,62,42,52,5.3,13,0,0,0,NaN,NaN,0.024,0.571
9,2014-01-10,62,39,50.5,3.7,14,0,0,0,NaN,NaN,0.017,0.954
10,2014-01-11,58,44,51,4.2,14,0,0,0,NaN,NaN,0.025,0.500
11,2014-01-12,60,39,49.5,2.6,15,0,0,0,NaN,NaN,0.024,0.454
12,2014-01-13,64,37,50.5,3.5,14,0,0,0,NaN,NaN,0.023,1.029
13,2014-01-14,66,35,50.5,3.4,14,0,0,0,NaN,NaN,0.022,1.333
14,2014-01-15,69,38,53.5,6.3,11,0,0,0,NaN,NaN,0.022,1.304
15,2014-01-16,71,36,53.5,6.2,11,0,0,0,NaN,NaN,0.024,1.437
16,2014-01-17,69,36,52.5,5.1,12,0,0,0,NaN,NaN,0.027,1.396
17,2014-01-18,70,35,52.5,4.9,12,0,0,0,NaN,NaN,0.028,1.296
18,2014-01-19,69,35,52,4.3,13,0,0,0,NaN,NaN,0.029,1.125
19,2014-01-20,71,36,53.5,5.7,11,0,0,0,NaN,NaN,0.025,1.187
20,2014-01-21,68,35,51.5,3.6,13,0,0,0,NaN,NaN,0.024,1.125
21,2014-01-22,68,35,51.5,3.4,13,0,0,0,NaN,NaN,0.029,0.867
22,2014-01-23,71,38,54.5,6.3,10,0,0,0,NaN,NaN,0.030,1.054
23,2014-01-24,79,44,61.5,13.1,3,0,0,0,NaN,NaN,0.029,1.113
24,2014-01-25,74,42,58,9.4,7,0,0,0,NaN,NaN,0.030,0.821
25,2014-01-26,65,41,53,4.3,12,0,0,0,NaN,NaN,0.028,0.813
26,2014-01-27,65,39,52,3.1,13,0,0,0,NaN,NaN,0.024,1.063
27,2014-01-28,70,50,60,10.9,5,0,0,0,NaN,NaN,0.023,0.779
28,2014-01-29,64,51,57.5,8.3,7,0,0.07,0,NaN,NaN,0.014,0.504
29,2014-01-30,65,49,57,7.6,8,0,0.11,0,NaN,NaN,0.023,0.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,2018-12-02,55,37,46,NaN,19,0,0,0.0,-3.4,0.0,0.025,0.000
1797,2018-12-03,54,36,45,NaN,20,0,0,0.0,-4.2,0.0,0.023,0.000
1798,2018-12-04,53,46,49.5,NaN,15,0,0,M,0.5,0.0,0.010,0.000
1799,2018-12-05,57,47,52,NaN,13,0,0.12,M,3.2,0.0,0.024,0.000
1800,2018-12-06,60,44,52,NaN,13,0,0,0.0,3.5,0.0,0.015,0.000
1801,2018-12-07,63,40,51.5,NaN,13,0,0,0.0,3.2,0.0,0.012,0.083
1802,2018-12-08,61,40,50.5,NaN,14,0,0,M,2.3,0.0,0.018,0.167
1803,2018-12-09,53,40,46.5,NaN,18,0,0,0.0,-1.5,0.0,0.017,0.000
1804,2018-12-10,60,44,52,NaN,13,0,0,M,4.2,0.0,0.015,0.208
1805,2018-12-11,59,40,49.5,NaN,15,0,0,0.0,1.9,0.0,0.018,0.056
1806,2018-12-12,61,44,52.5,NaN,12,0,0,M,5,0.0,0.023,0.000
1807,2018-12-13,60,40,50,NaN,15,0,0,M,2.6,0.0,0.021,0.125
1808,2018-12-14,62,43,52.5,NaN,12,0,0,0.0,5.3,0.0,0.020,0.000
1809,2018-12-15,62,45,53.5,NaN,11,0,0,0.0,6.4,0.0,0.025,0.000
1810,2018-12-16,59,44,51.5,NaN,13,0,1.17,0.0,4.5,0.0,0.030,0.000
1811,2018-12-17,62,50,56,NaN,9,0,0.36,M,9.1,0.0,0.031,0.091
1812,2018-12-18,65,44,54.5,NaN,10,0,0,M,7.7,0.0,0.022,0.000
1813,2018-12-19,65,47,56,NaN,9,0,0,M,9.3,0.0,0.018,0.000
1814,2018-12-20,56,48,52,NaN,13,0,0.03,M,5.4,0.0,0.018,0.000
1815,2018-12-21,57,48,52.5,NaN,12,0,0.06,M,5.9,0.0,0.017,0.000
1816,2018-12-22,55,39,47,NaN,18,0,0,0.0,0.5,0.0,0.013,0.000
1817,2018-12-23,58,46,52,NaN,13,0,0,M,5.6,0.0,0.009,0.000
1818,2018-12-24,55,49,52,NaN,13,0,0.47,M,5.6,0.0,0.017,0.000
1819,2018-12-25,61,44,52.5,NaN,12,0,0.12,M,6.1,0.0,0.025,0.000
1820,2018-12-26,60,38,49,NaN,16,0,0,M,2.7,0.0,0.022,0.000
1821,2018-12-27,58,39,48.5,NaN,16,0,0,0.0,2.2,0.0,0.027,0.000
1822,2018-12-28,56,39,47.5,NaN,17,0,0,0.0,1.2,0.0,0.031,0.000
1823,2018-12-29,58,35,46.5,NaN,18,0,0,0.0,0.2,0.0,0.026,0.083
1824,2018-12-30,59,37,48,NaN,17,0,0,M,1.7,0.0,0.024,0.000
1825,2018-12-31,55,41,48,NaN,17,0,0,M,1.7,0.0,0.034,0.000

In [9]:
household_income = pd.read_csv('Median_Household_Income.csv', sep=',', header=0)

In [10]:
household_income

   Year  Median_House_Income (dollars)
0  2014                          62203
1  2015                          64991
2  2016                          65430
3  2017                          67902

In [11]:
population = pd.read_csv('population.csv', sep=',', header=0)

In [12]:
population

   Year  Population
0  2014      485199
1  2015      490712
2  2016      495234
3  2017      501901

In [13]:
energy_percentages = pd.read_csv('total_electricity_src_percentages.csv', sep=',', header=0)

In [14]:
energy_percentages

,Year,Wind,Solar,Small hydro,Geothermal,Biomass,Large hydro,Coal,Nuclear,Natural gas,Unspecified
0,2014,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.150
1,2015,0.082,0.060,0.009,0.044,0.026,0.054,0.060,0.092,0.440,0.135
2,2016,0.091,0.081,0.017,0.044,0.023,0.102,0.041,0.092,0.365,0.144
3,2017,0.094,0.102,0.027,0.044,0.024,0.147,0.041,0.091,0.337,0.093

In [15]:
for ind_i in range(len(final)):

    for ind_j, _ in enumerate(energy_consumption):
        
        if str(energy_consumption['Year'][ind_j]) in str(final['Date'][ind_i]):
            
            final.loc[ind_i, 'Electricity(GWh)/Non-Residential'] = energy_consumption['Electricity(GWh)/Non-Residential'][ind_j]
            final.loc[ind_i, 'Electricity(GWh)/Residential'] = energy_consumption['Electricity(GWh)/Residential'][ind_j]
            final.loc[ind_i, 'Gas(Therms)/Non-Residential'] = energy_consumption['Gas(Therms)/Non-Residential'][ind_j]
            final.loc[ind_i, 'Gas(Therms)/Residential'] = energy_consumption['Gas(Therms)/Residential'][ind_j]

            continue
            
    for ind_k, _ in enumerate(household_income):
        
        if ind_k > len(household_income)-1:
            break
        
        if str(household_income['Year'][ind_k]) in str(final['Date'][ind_i]):
            
            final.loc[ind_i, 'Median_Income(dollars)'] = household_income['Median_House_Income (dollars)'][ind_k]
            
            continue
            
            
    for ind_m, _ in enumerate(population):
        
        if ind_m > len(population)-1:
            break

        if str(population['Year'][ind_m]) in str(final['Date'][ind_i]):
            
            
            final.loc[ind_i, 'Population'] = population['Population'][ind_m]
            
            continue
    
    for ind_n, _ in enumerate(energy_percentages):
        if ind_n > len(energy_percentages)-1:
            break
        if str(energy_percentages['Year'][ind_n]) in str(final['Date'][ind_i]):
            
            final.loc[ind_i, 'Wind'] = energy_percentages['Wind'][ind_n]
            final.loc[ind_i, 'Solar'] = energy_percentages['Solar'][ind_n]
            final.loc[ind_i, 'Small hydro'] = energy_percentages['Small hydro'][ind_n]
            final.loc[ind_i, 'Geothermal'] = energy_percentages['Geothermal'][ind_n]
            final.loc[ind_i, 'Biomass'] = energy_percentages['Biomass'][ind_n]
            final.loc[ind_i, 'Large hydro'] = energy_percentages['Large hydro'][ind_n]
            final.loc[ind_i, 'Coal'] = energy_percentages['Coal'][ind_n]
            final.loc[ind_i, 'Nuclear'] = energy_percentages['Nuclear'][ind_n]
            final.loc[ind_i, 'Natural gas'] = energy_percentages['Natural gas'][ind_n]
            final.loc[ind_i, 'Unspecified'] = energy_percentages['Unspecified'][ind_n]
            
            continue

In [16]:
final

,Date,MaximumTemp,MinimumTemp,AverageTemp,Departure,HDD,CDD,Precipitation,NewSnow,DepartureTemp,...,Wind,Solar,Small hydro,Geothermal,Biomass,Large hydro,Coal,Nuclear,Natural gas,Unspecified
0,2014-01-01,65,35,50,3.7,15,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
1,2014-01-02,66,37,51.5,5.1,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
2,2014-01-03,66,38,52,5.6,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
3,2014-01-04,65,37,51,4.6,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
4,2014-01-05,65,36,50.5,4.0,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
5,2014-01-06,61,37,49,2.5,16,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
6,2014-01-07,65,40,52.5,5.9,12,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
7,2014-01-08,57,38,47.5,0.9,17,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
8,2014-01-09,62,42,52,5.3,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
9,2014-01-10,62,39,50.5,3.7,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
10,2014-01-11,58,44,51,4.2,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
11,2014-01-12,60,39,49.5,2.6,15,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
12,2014-01-13,64,37,50.5,3.5,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
13,2014-01-14,66,35,50.5,3.4,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
14,2014-01-15,69,38,53.5,6.3,11,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
15,2014-01-16,71,36,53.5,6.2,11,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
16,2014-01-17,69,36,52.5,5.1,12,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
17,2014-01-18,70,35,52.5,4.9,12,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
18,2014-01-19,69,35,52,4.3,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
19,2014-01-20,71,36,53.5,5.7,11,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
20,2014-01-21,68,35,51.5,3.6,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
21,2014-01-22,68,35,51.5,3.4,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
22,2014-01-23,71,38,54.5,6.3,10,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
23,2014-01-24,79,44,61.5,13.1,3,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
24,2014-01-25,74,42,58,9.4,7,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
25,2014-01-26,65,41,53,4.3,12,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
26,2014-01-27,65,39,52,3.1,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
27,2014-01-28,70,50,60,10.9,5,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
28,2014-01-29,64,51,57.5,8.3,7,0,0.07,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
29,2014-01-30,65,49,57,7.6,8,0,0.11,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,2018-12-02,55,37,46,NaN,19,0,0,0.0,-3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1797,2018-12-03,54,36,45,NaN,20,0,0,0.0,-4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1798,2018-12-04,53,46,49.5,NaN,15,0,0,M,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799,2018-12-05,57,47,52,NaN,13,0,0.12,M,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1800,2018-12-06,60,44,52,NaN,13,0,0,0.0,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,2018-12-07,63,40,51.5,NaN,13,0,0,0.0,3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802,2018-12-08,61,40,50.5,NaN,14,0,0,M,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1803,2018-12-09,53,40,46.5,NaN,18,0,0,0.0,-1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1804,2018-12-10,60,44,52,NaN,13,0,0,M,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805,2018-12-11,59,40,49.5,NaN,15,0,0,0.0,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806,2018-12-12,61,44,52.5,NaN,12,0,0,M,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1807,2018-12-13,60,40,50,NaN,15,0,0,M,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1808,2018-12-14,62,43,52.5,NaN,12,0,0,0.0,5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1809,2018-12-15,62,45,53.5,NaN,11,0,0,0.0,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,2018-12-16,59,44,51.5,NaN,13,0,1.17,0.0,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,2018-12-17,62,50,56,NaN,9,0,0.36,M,9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1812,2018-12-18,65,44,54.5,NaN,10,0,0,M,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1813,2018-12-19,65,47,56,NaN,9,0,0,M,9.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1814,2018-12-20,56,48,52,NaN,13,0,0.03,M,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1815,2018-12-21,57,48,52.5,NaN,12,0,0.06,M,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816,2018-12-22,55,39,47,NaN,18,0,0,0.0,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1817,2018-12-23,58,46,52,NaN,13,0,0,M,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1818,2018-12-24,55,49,52,NaN,13,0,0.47,M,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,2018-12-25,61,44,52.5,NaN,12,0,0.12,M,6.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1820,2018-12-26,60,38,49,NaN,16,0,0,M,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1821,2018-12-27,58,39,48.5,NaN,16,0,0,0.0,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1822,2018-12-28,56,39,47.5,NaN,17,0,0,0.0,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1823,2018-12-29,58,35,46.5,NaN,18,0,0,0.0,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1824,2018-12-30,59,37,48,NaN,17,0,0,M,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,2018-12-31,55,41,48,NaN,17,0,0,M,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
final.to_csv('merged.csv',index=False)
final.head()

,Date,MaximumTemp,MinimumTemp,AverageTemp,Departure,HDD,CDD,Precipitation,NewSnow,DepartureTemp,...,Wind,Solar,Small hydro,Geothermal,Biomass,Large hydro,Coal,Nuclear,Natural gas,Unspecified
0,2014-01-01,65,35,50,3.7,15,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
1,2014-01-02,66,37,51.5,5.1,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
2,2014-01-03,66,38,52,5.6,13,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
3,2014-01-04,65,37,51,4.6,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15
4,2014-01-05,65,36,50.5,4.0,14,0,0,0,NaN,...,0.081,0.042,0.009,0.044,0.025,0.055,0.064,0.085,0.445,0.15