In [115]:
import pandas as pd
import numpy as np

In [116]:
final = pd.read_csv('NOAA Temp/14_01.csv')
final = final.drop(columns = '3')
dti = pd.date_range('01/01/2014', periods=1826, freq='D')
for j in range(14,19):
    for i in range(1,13):
        if j == 14 and i == 1: continue
        temp = pd.read_csv('NOAA Temp/'+str(j)+'_{:02d}'.format(i)+'.csv')
        temp = temp.drop(temp.columns[[0]], axis=1)
        final = pd.concat([final, temp], sort=False)
final['Date'] = dti

In [137]:
for j in ['Ozone', 'CO']:
    final2 = pd.read_csv(j+'/datafile2014.txt', sep=',', nrows=31)
    final2 = final2.drop(columns = 'dom')
    temp = final2.values
    temp = temp.astype(np.float)
    temp = temp.flatten('F')
    temp = temp[np.isfinite(temp)]
    for i in range(2015,2019):
        final2 = pd.read_csv(j+'/datafile'+str(i)+'.txt', sep=',', nrows=31)
        final2 = final2.drop(columns = 'dom')
        temp2 = final2.values
        temp2 = temp2.astype(np.float)
        temp2 = temp2.flatten('F')
        temp2 = temp2[np.isfinite(temp2)]
        print(len(temp2))
        temp = np.append(temp, temp2)
    final[j] = temp

365
366
365
365
365
366
365
365

In [138]:
final.to_csv('merged.csv',index=False)
final.head()

,Date,MaximumTemp,MinimumTemp,AverageTemp,Departure,HDD,CDD,Precipitation,NewSnow,DepartureTemp,SnowDepth,Ozone,CO
0,2014-01-01,65,35,50,3.7,15,0,0,0,NaN,NaN,0.026,1.000
1,2014-01-02,66,37,51.5,5.1,13,0,0,0,NaN,NaN,0.021,1.246
2,2014-01-03,66,38,52,5.6,13,0,0,0,NaN,NaN,0.019,1.162
3,2014-01-04,65,37,51,4.6,14,0,0,0,NaN,NaN,0.023,1.050
4,2014-01-05,65,36,50.5,4.0,14,0,0,0,NaN,NaN,0.029,0.983